<!doctype html>

<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <head>
    <title>NBC Bitcoin</title>
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="public/stylesheets/style.css">
  </head>

  <body>
    <div id="main-table">
      <h1>NBC Bitcoin <i class="fas fa-coins"></i></h1>
      <table id="bct">
        <tr id="bct-title">
          <th class="bct-date title">Date</th>
          <th class="bct-price title">Price</th>
          <th class="bct-direction title">Direction</th>
          <th class="bct-change title">Change</th>
          <th class="bct-day title">Day</th>
        </tr>
        <% filteredData.forEach((listing, idx) => { %>
          <tr id="bct-row">
            <td><%= `${listing.date.year}-${listing.date.month}-${listing.date.date}T00:00:00` %></td>
            <td><%= listing.price.price %></td>
            <td class="bct-direction">
              <% if (idx === 0) { %>
                <%= 'NA' %>
              <% } else if (listing.price.direction === 'up') { %> 
                <i class="fas fa-arrow-alt-circle-up"></i>
              <% } else if (listing.price.direction === 'down'){ %>
                <i class="fas fa-arrow-alt-circle-down"></i>
              <% } else { %>
                <i class="fas fa-equals"></i>
              <% } %>
            </td>
            <td class="bct-change 
              <% if (listing.price.change < 0 && idx !== 0) { %>
                <%= "bct-down" %>
              <% } else if (listing.price.change > 0 && idx !== 0) { %>
                <%= "bct-up" %>
              <% } %>
            ">
              <%= (idx !== 0) ? listing.price.change : 'NA' %></td>
            <td class="bct-day"><%= `${listing.date.day}`%></td>
          </tr>
        <% }); %>
      </table>
    </div>
    <footer>©Erin Moon 2020</footer>
    <script src="public/javascripts/script.js"></script>
  </body>

</html>
